
.obsidian/workspace.json
Private/

.obsidian
.obsidian/graph.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json

.obsidian/plugins/novel-word-count/data.json
.obsidian/plugins/obsidian-icon-folder/data.json
.obsidian/plugins/fantasy-calendar/data.json